@model Models.Branch

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="text-green-color">Detalles</h1>

<div class="table bg-green-opaque text-white-color table-borderless rounded-component mt-2">
    <h4 class="bg-green-light">Sucursal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-lime-color ms-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <a class="rounded-component btn-borderless link-button bg-green-light" asp-action="Edit" asp-route-id="@Model?.idBranch">Editar</a> |
    <a class="rounded-component btn-borderless bg-green-lime link-btn-dark-text" asp-action="Index">Regresar</a>
</div>
